.mug {
  width: 30%;
  border-radius: 50%;
  box-shadow: 0 0 20px #999 !important;
  border: 5px solid #fff !important;
}

.emphasis{
  color: #cc0000;
}

.left-show{
  width: 100%; 
  height: 400%; 
  position: absolute; 
  top: -100%; 
  left: -45%; 
  z-index: -1; 
}

.bigger {
  font-size: 150% !important;
}